<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze App</title>
    @Styles.Render( "~/Styles/css" )
    @Scripts.Render( "~/bundles/site-js-resources" )
    @Scripts.Render( "~/bundles/modernizr" )
    @RenderSection( "scripts", required: false )      
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
          rel="stylesheet" 
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
          crossorigin="anonymous" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse pull-right collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink( "New Race", "Index", "Race" )</li>
                <li id="username-header-field">@Html.ActionLink( "Dashboard", "Index", "Dashboard" )</li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="body-content"> @RenderBody() </div>
    </div>

    @AntiForgery.GetHtml()
</body>
</html>
<script type="text/javascript">



</script>





